@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { padding: 0; margin: 0; }
body, button, input, select, textarea { font: 14px/1.5 "microsoft yahei", "simsun", \5b8b\4f53, arial; color: #666; }
ul, ol, li { list-style: none; }
i, em { font-style: normal }
img { vertical-align: top; border: 0; }
a { color: #333; text-decoration: none; }
a:hover { color: #333; text-decoration: underline; }
table { border-collapse: collapse; border-spacing: 0; }
table td { padding: 0; margin: 0; }
table th.wztop { vertical-align: top; }
.fl, .fr { position: relative; float: left; overflow: hidden; }
.fr { float: right; }
section, article, aside, header, footer, nav, dialog, figure { display: block; padding: 0; margin: 0; }
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
.hd, .bd, .b, .d, .inn, .inn2, .u, .u li, .txt, .box, .ptP, .pic2, .ptC, .pic, .txt { position: relative; clear: both; overflow: hidden; }
/*com*/
.wrap, .header, .footer, .area { clear: both; width: 100%; overflow: hidden; min-width: 1100px; }
.inn, .inn2 { width: 1100px; margin: 0 auto; }
/*tNav*/
.tNav { position: relative; z-index: 999; font-size: 12px; font-family: "microsoft yahei"; clear: both; color: #6b6a6b; width: 100%; height: 40px; line-height: 40px; background: #f5f5f5; min-width: 1100px; }
.tNav .t-inn { width: 1100px; margin: 0 auto; }
.tNav a { float: left; text-align: center; color: #6b6a6b; }
.tNav a:hover { color: #6b6a6b; }
.t-fl, .t-un, .t-un li, .t-logo, .t-arr, .t-anarr, .t-img { float: left; }
.t-fr, .t-fr .t-un { float: right; }
.t-logo { font-size: 12px; font-weight: normal; margin-right: 10px; padding: 0 1px; }
.t-logo a:hover { color: #da1f31; text-decoration: underline; }
.t-un li, .t-arr { position: relative; height: 40px; }
.t-un li, .t-anarr, .t_iC, .i_tjb, .t_nav a, .f_link li { background: url(http://news.k618.cn/images/bg_tnav.png) 0 -152px no-repeat; }
.t-un li a { padding: 0 15px; overflow: hidden; }
.t-fl .t-un li { background-position: 100% -196px; }
.t-fl .t-un li a { padding: 0 5px; }
.t-un li:last-child { background: none; }
.t-anarr { padding: 0 16px 0 5px; background-position: 100% -114px; }
.t-ulink li { padding: 0 9px 0 8px; }
.t-ulink li a { padding: 0; }
.t_iC, .i_tjb, .i_sp, .i_tk { display: block; text-indent: -999px; width: 30px; height: 30px; margin-top: 5px; background-position: 0 0; overflow: hidden; }
.i_twb { background-position: 0 -40px; }
.i_twx { background-position: 0 -80px; }
.i_tss { background-position: 0 -360px; }
.i_more { background-position: 0 -398px; }
.t-ulink a:hover .i_tph { background-position: -40px 0; }
.t-ulink a:hover .i_twb { background-position: -40px -40px; }
.t-ulink a:hover .i_twx { background-position: -40px -80px; }
.t-ulink a:hover .i_tss { background-position: -40px -360px; }
.t-ulink a:hover .i_more { background-position: -40px -399px; }
.t-ulink li .t-antg { padding: 0 15px; }
.t-ulink li a.t-antg:hover { color: #fff; background: #ff5349; text-decoration: none; }
.t-ulink li .t-aqzm { padding: 0 8px; }
.t-ulink li a.t-aqzm:hover { color: #fff; background: #62b900; text-decoration: none; }
.t-ulink li .t-anxqbd { display: block; font-size: 12px; color: #00839f; width: 62px; height: 22px; line-height: 22px; padding: 0; margin-top: 8px; border: 1px solid #00839f; border-radius: 15px; background: none; }
.t-l5 a { cursor: pointer; }
.i_tjb { position: absolute; top: 0; width: 20px; height: 11px; margin: 0; background-position: 0 -120px; }
.t-pop .i_tjb { right: 20px; }
.t-pop2 .i_tjb { left: 20px; }
.t-pop2, .t-ewm, .t-pop { position: absolute; top: 40px; z-index: 999; }
.t-pop2, .t-pop { padding: 10px 5px; top: 30px; }
.t-pop2 { left: 0; display: none; width: 290px; border-radius: 5px; }
.t-popi { clear: both; background: #f5f5f5; border: 1px solid #cbcaca; border-radius: 5px; overflow: hidden; box-shadow: 1px 1px 5px rgba(0,0,0,.25); }
.t-ewm, .t-pop { right: 0; display: none; width: 80px; overflow: hidden; }
.t-ewm { width: 116px; height: 116px; border: 1px solid #cbcaca; }
.t-ewm img { width: 100%; }
.twon .t-ewm, .tipon .t-pop2, .tarron .t-pop, .tipon3 .t-pop3 { display: block; }
.tarron .t-anarr { background-position: 100% -314px; }
.t-uarr a { width: 100%; line-height: 30px; }
.t-log li a, .t-log2 li a { padding: 0 13px; }
.t-img { width: 28px; height: 28px; line-height: 28px; margin: 6px 6px 0 0; background: url(http://passport.k618.cn/img/bg_tx.png) 0 0 no-repeat; border-radius: 50%; background-size: cover; overflow: hidden; }
.t-img img { width: 100%; vertical-align: top; }
.t-un .t-nl { background: none; }
.t-pop2 .t-popi { padding: 36px 0 40px; }
.u-log { width: 246px; height: 208px; margin: 0 auto; }
.u-log li { width: 100%; background: none; }
.u-log .t_li2 { margin-top: 24px; }
.u-log .t_li3 { color: #f00; height: 32px; line-height: 32px; }
.u-log .t_li4 { padding-top: 10px; line-height: 30px; }
.u-log .t_err { padding-left: 5px; }
.u-log .t_anlog { float: right; display: block; text-align: center; color: #fff; width: 78px; height: 28px; line-height: 28px; background: #00abdf; border: 1px solid #e5e5e5; border-radius: 3px; overflow: hidden; }
.u-log .t_anlog:hover { color: #fff; }
.t-dx, .t-dx input { float: left; vertical-align: middle; }
.t-dx input { margin: 8px 5px 0 0; *margin: 5px 5px 0 0;
}
.t-lsr { position: relative; font-size: 14px; color: #989fa9; width: 197px; height: 38px; line-height: 38px; padding: 0 4px 0 43px; background: #fff; border: 1px solid #b7babf; overflow: hidden; border-radius: 2px; }
.t-lsr label, .t-lsr .t_iC, .t-lsr .a_wj { position: absolute; top: 0; }
.t-lsr .t_iC { left: 0; width: 38px; height: 38px; margin: 0; background-color: #f0f2f5; background-position: -2px -241px; }
.t-lsr .i_lock { background-position: -2px -281px; }
.t-lsr label { left: 43px; }
.t-lsr .a_wj { right: 5px; font-size: 12px; color: #0078ff; padding: 0; }
.t-lsr .a_wj:hover { color: #0078ff; }
.t-lsr .t-input { position: relative; z-index: 5; float: left; font-size: 14px; font-family: "microsoft yahei"; color: #989fa9; width: 100%; height: 22px; line-height: 22px; padding: 8px 0; background: none; border: none; outline: none; }
.t-lsr .t-input2 { width: 130px; }
.t-lsron label { display: none; }
.oth_cap { font-size: 14px; color: #727272; text-align: center; width: 240px; height: 22px; line-height: 22px; margin: 0 auto 20px; background: url(http://passport.k618.cn/img/bg_oth.png) 0 center repeat-x; overflow: hidden; }
.oth_cap span { display: block; width: 124px; margin: 0 auto; background: #f5f5f5; }
.oth_ul { padding-left: 21px; }
.oth_ul li { height: 38px; margin-right: 14px; }
.tNav .oth_ul a { padding: 0; }
/*新增登录后*/
.t-pop3 { left: -18px; width: 80px; }
.t-pop3 .t-popi { padding: 0; }
.t-pop3 .i_tjb { background-position: 0 -120px; }
.t-pop3 .t-uarr li, .t-pop3 .t-uarr li a { float: left; width: 100%; padding: 0; }
.t-pop3 .t-uarr li { height: 30px; line-height: 30px; }
/*navT4*/
.navT4, .t_nav { clear: both; overflow: hidden; }
.navT4 { height: 49px; margin: 7px 0 0; }
.t_nav { padding-left: 18px; }
.t_nav a { float: left; font-size: 12px; font-family: " sans-serif", "宋体"; color: #6e6a6e; height: 21px; line-height: 21px; padding: 0 15px; background-position: 0 -446px; overflow: hidden; }
.t_nav a.nol { background: none; }
.t_nav a:hover { color: #da1f31; text-decoration: underline; }
/*footer*/
.footer { font-size: 12px; height: 40px; line-height: 40px; background: #e5e5e5; }
.footer a, .footer a:hover { color: #666; text-decoration: none; }
.f_link { float: right; margin-top: 11px; }
.f_link li { float: left; height: 18px; line-height: 18px; padding: 0 10px; background-position: 100% -487px; }
.f_link li.last { background: none; }
.footer .f_fcr { float: left; color: #f00; margin-right: 100px; }
/*右下角弹出广告开始*/
.bd_17pps { position: fixed; right: 0; bottom: 0; width: 300px; _position: absolute; _top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight);
overflow: visible; z-index: 9999; }
.bd_17pps .colose_bd { position: absolute; right: 0px; top: -20px; display: block; width: 18px; height: 18px; line-height: 20px; border: 1px #ccc solid; background: #ffffff; text-align: center; cursor: pointer; z-index: 9999; }
/*右下角弹出广告结束*/


@media (min-width:384px) {
html { font-size: 41.4px; }
}

@media (max-width:384px) {
html { font-size: 38.4px; }
}

@media (max-width:375px) {
html { font-size: 37.5px; }
}

@media (max-width:360px) {
html { font-size: 36px; }
}

@media (max-width:320px) {
html { font-size: 32px; }
}

/*placeholder*/
:-moz-placeholder {
 color: #ccc;
opacity:1;
}
::-moz-placeholder {
 color: #ccc;
opacity:1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
 color: #ccc;
opacity:1;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
 color: #ccc;
opacity:1;
}
/*去掉苹果的默认UI来渲染按钮*/
input[type="submit"], input[type="reset"], input[type="button"], button, select { -webkit-appearance: none; }
/*去掉黄色背景*/
input, textarea, button, a { -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight-color: transparent; }
